<?xml version="1.0" encoding="utf-8"?><configuration>
  <workers>1</workers>
  <implementations/>
  <connectionStrings>
      <rds>
        <driver>pgsql</driver>
        <connectionString>pgsql://user:password@localhost/database</connectionString>
      </rds>
      <couchbase>
        <bucket>default</bucket>
        <connectionString>http://127.0.0.1:8091</connectionString>
      </couchbase>
  </connectionStrings>
</configuration>
