<?xml version="1.0" encoding="utf-8"?><configuration>
  <workers></workers>
  <implementations></implementations>
  <connectionStrings>
      <rds>
        <driver></driver>
        <connectionString></connectionString>
      </rds>
      <couchbase>
        <bucket></bucket>
        <connectionString></connectionString>
      </couchbase>
  </connectionStrings>
</configuration>
